@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@700&family=Outfit:wght@600&display=swap');
body {
    margin: 0;
    background: white;
    text-align: center;
    a {
        text-decoration: none;
    }
}

.namebar {
    height: 100px;
    margin: .2em;
    text-align: center;

    span {
        font-size: 85px;
        font-family: Outfit, Tahoma, sans-serif;
      }
      
      a {
        color: black;
      }
      
      a:hover span {
        display: none;
      }
      
      a:hover:before {
        font-size: 73px;
        font-family: Noto Sans SC, Tahoma, sans-serif;
        content: "赵姓";
      }
}

.navbar {
    height: 35px;
    color: green;
    ul {
        list-style-type: none;
        margin: 12px;
        padding: 5px;
        display: inline-flex;
    }

    span {
        visibility: hidden;
    }

    a {
        color: black;
        font-family: Noto Sans SC, Tahoma, sans-serif;
    }

    .current {
        a {
            text-decoration: underline;
            text-decoration-thickness: 2px;
        }
    }
}